<html>
<head>
 <link rel="stylesheet" href="mystyle.css">
<link href="/static/main.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<h3 style="float:right"><center>CROSS DOMAIN RECOMMENDATION SYSTEM</center></h3></head></br>
<!--Author:Nobody -->
<!--Govt. Engineering College Thrissur -->
	<body vlink=blue>
	<div class=content>
		{% block content %}
		{% endblock %}
	</div>
	</body>
<div><address>
 <list> Developers</list>
<li> <a href=mailto:jyothikp9999@gmail.com>Jyothi K P</li>
<li> <a href=mailto:priyapappacha010@gmail.com>Priya Pappachan</li></a>
<li> <a href=mailto:jisacs1492@gmail.com> Jisa C Sebastine</a></li>
<li> <a href=mailto:jeny4mail@gmail.com> Janeesha K.P </a></li></br>
Dept. Of CSE,Govt Engineering College,Thrissur</br>Powered by Django.</address>
</div>
</html>

