{% extends "base.html" %}

{% block title %} Welcome Note {% endblock %}

{% block content %}
<head>
 <link rel="stylesheet" href="mystyle.css">
</head>

<h1 style="color:olive">{{User.user_name}} </h1> 
<div> <p> <h3> <a href="/{{User.id}}/"><strong> Logout  </strong> </a> </h3>
 </p> </div>

<div> <p> <h3> <a href="/{{Session.id}}/home/"><strong> Home  </strong> </a> </h3>
 </p> </div>
<div>

{% for book in Books %} 
<p> <h3> <a href="/{{Session.id}}/book/{{book.id}}/"><strong>  {{book.book_name}} </strong> </a> </h3>
 </p>
{% endfor %}

{% endblock content %}
